locations:
  location1:
    from: {{ location1 }}
    to: 
      - b2
      - local_backend
    options:  
      forget:
        keep-daily: 4
        keep-weekly: 1
        keep-monthly: 3
        keep-yearly: 1
      backup:
        exclude:
          - '**/no-backup'
    hooks:

  location2:
    from: {{ location2 }}
    to:
      - b2
      - local_backend
    options:  
      forget:
        keep-daily: 4
        keep-weekly: 1
        keep-monthly: 3
        keep-yearly: 1
      backup:
        exclude:
          - '**/no-backup'
      hooks:

backends:
  b2:
    type: b2
    path: {{ b2_backup_bucket }}
    key: {{ b2_autorestic_key }}
    env:
      b2_account_id: {{ b2_backup_bucket_id }}
      b2_account_key: {{ b2_backup_bucket_key }} 
  local_backend:
    type: local
    path: {{ local_backup_path }}
    key: {{ local_autorestic_key }}